/* Resetear los estilos predeterminados */
body, ul {
  margin: 0;
  padding: 0;
}

/* Estilos para el menú */
nav {
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

#menu {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  font-size: 16px;
  transition: color 0.3s ease;
}

#menu a:hover {
  color: #ffd700;
}

#menu div {
  display: flex;
  align-items: center;
}

#menu div a:first-child {
  margin-left: 0; /* Eliminar el margen izquierdo para el primer enlace */
}

#menu div:last-child {
  margin-left: auto; /* Empujar el último elemento hacia la derecha */
}

/* Sección de imagen */
#image-section {
  position: relative;
  text-align: center;
}

#main-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#text-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  text-align: center;
}

#text-container h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

#text-container p {
  font-size: 18px;
}

/* Sección de oferta */
#oferta {
  background-color: #3f3e3e; 
  padding: 20px;
}

#ofertaTabla {
  width: 100%;
  border-collapse: collapse;
}

#ofertadiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#ofertaTabla td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.ofertaImagen {
  width: 100px;
  padding: 10px;
}

.textInfo {
  color: red;
  font-size: 14px;
}

/* Mapa */
#map {
  margin-top: 20px;
  height: 300px;
}

/* Flechas de oferta */
.arrow {
  cursor: pointer;
  font-size: 24px;
  color: #fff;
}
