
#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
  }
/*Mensaje de error al enviar y al esconder el mensaje (temporal)*/
#errorEnvio {
    color: rgb(10, 10, 10);
  }
  
  #errorEnvio.error {
    color: red;
  }
  
  #errorEnvio.correcto {
    color: rgb(18, 156, 18);
  }
  
/*******************************************************/
#map { 
    border: 1px solid;
}
.imagen{
    height: 100px;
}


/* Eliminar las flecha del input*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }
/***************************************************/

